.navBar {
    height: 48px;
    background: #4F4D53;
    color: #fff;
}
body {
    margin:0px;
}
.bannerContainer {
    height: 460px;
}
.heading {
    text-align: center;
    margin:0px;
}
.profileContainer{
    top: 15em;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.description {
    text-align: center;
    margin-top: 6em;
}
.navBar > div > img {
    left: 10%;
    margin-left: 25%;
}
.navBar > div {
    height: 48px;
    line-height: 56px;
}
.bannerImage {
    max-width: 100%;
    position: absolute;
    width: 100%;
    height: 460px;
    display: flex;
    left: 0px;
    z-index: -1;
}
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.footer {
    height:320px;
    display: flex;
    background:#4F4D53;
    justify-content: space-around;
    border-top: 12px solid #E8BE02;
}
.content {
    flex: 1;
}
h1 {
    color:  #4F4D53;
    font-weight: 900;
    font-size: 100px;
    font-family: 'Roboto Black';
}
h2 {
    color: #E8BE02;
    font-size: 64px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
h3 {
    color: #E8BE02;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
h4{
    font-size: 14px;
    color:#FFFFFF;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
} 
p {
    font-size: 20px;
    color:#4F4D53 ;
    font-family: 'Roboto', sans-serif;
}